@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap");
.d-flex {
  display: flex; }

.d-grid {
  display: grid; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  list-style-type: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-family: "Dosis", sans-serif; }

a {
  background-color: transparent;
  color: #212529; }

div {
  font-size: 1.5rem; }
  @media screen and (min-width: 480px) {
    div {
      font-size: 1.6rem; } }
  @media screen and (min-width: 640px) {
    div {
      font-size: 1.6rem; } }
  @media screen and (min-width: 1024px) {
    div {
      font-size: 1.7rem; } }
  @media screen and (min-width: 1224px) {
    div {
      font-size: 1.9rem; } }

main {
  display: block; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  outline: none;
  border: none; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.container {
  max-width: 115rem;
  padding: 0 1rem;
  margin: 0 auto; }

.mt-1 {
  margin-top: 1rem; }

.mr-1 {
  margin-right: 1rem; }

.ml-1 {
  margin-left: 1rem; }

.mb-1 {
  margin-bottom: 1rem; }

.ai-c {
  align-items: center; }

.js-sb {
  justify-content: space-between; }

.img-fluid {
  width: 100%; }

.text-white {
  color: #fff; }

.text-light {
  color: #97a4be; }

.btn-primary {
  color: #233148;
  background: #00fff1;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  display: inline-block;
  font-weight: 500; }

.section-heading {
  position: relative;
  text-align: center; }
  .section-heading::after {
    position: absolute;
    content: '';
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    height: 0.3rem;
    background: #00fff1; }

@use 'sass:math';
.logo img {
  width: 6rem; }

header {
  box-shadow: 0 0 0.1rem #f5f6fa; }

.navbar {
  align-items: center;
  z-index: 100; }
  .navbar ul li {
    display: inline-block;
    padding: 0.5rem 1rem; }
  .navbar ul li a {
    color: #fff; }

@media (max-width: 420px) {
  .navbar {
    position: relative; }
    .navbar ul {
      display: none; }
      .navbar ul.manue-active {
        display: block;
        position: absolute;
        top: 100%;
        background: #212529;
        width: 100%;
        height: calc(100vh - 6.5rem);
        left: 0; }
        .navbar ul.manue-active li {
          display: block;
          text-align: center; } }

.hero {
  max-height: 60rem;
  height: 100vh;
  width: 100%;
  background: #223047; }
  @media (max-width: 600px) {
    .hero {
      height: 100%;
      text-align: center;
      padding-bottom: 2rem; } }

.home-content {
  align-items: center;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr)); }

.fa-bars {
  font-size: 2.5rem; }

@media (max-width: 600px) {
  .home-left {
    order: 2; } }

.home-right {
  place-items: center; }
  @media (max-width: 600px) {
    .home-right {
      order: 1; } }
  .home-right img {
    transform: translateY(7rem);
    height: 50rem; }
    @media (max-width: 1170px) {
      .home-right img {
        transform: translateY(2rem);
        height: 40rem; } }
    @media (max-width: 750px) {
      .home-right img {
        height: 35rem; } }
    @media (max-width: 600px) {
      .home-right img {
        height: 30rem;
        margin-bottom: 2rem; } }

.feature {
  padding: 10rem 0 7rem 0; }

.features-item {
  margin-top: 5rem;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
  .features-item .features-items {
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 0.3rem #ced4da; }
    .features-item .features-items * {
      margin: 1rem 0; }
    .features-item .features-items .paragraph {
      color: #97a4be; }

.icon-features {
  width: 5rem;
  height: 5rem; }

.why-item {
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr)); }

.why-image {
  width: 100%; }
