.why-item {
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-column-gap: 10rem;
  align-items: center;
}
.why-heading {
  font-weight: 500;
  padding-bottom: 2rem;
}
.why-paragraph {
  font-weight: 400;
  color: $text-light;
  margin-bottom: 2rem;
}
.btn-primray {
  background: $primary;
  @include p(0.8rem 1.5rem);
  display: inline-block;
  font-weight: 500;
}
.why-image {
  width: 100%;
}
.item-1 {
  background: $bg-light;
}
.text-right {
  text-align: right;
}

// acrrodion
.accrodion-item {
  background: $white;
  border-radius: 0.3rem;
  @include shadow(0, 0, 0.4rem, $gray-400);
  margin-top: 1rem;
  &.active {
    background: $primary;
  }
  & .accrodion-heading {
    padding: 0.9rem 1rem;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
    & h4 {
      font-weight: 500;
    }
  }
  & .accrodion-content {
    padding: 0 1rem 1rem 1rem;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    clip-path: circle(2.1% at 49% 0);
    @include prefix(transition, all 0.5s ease);
    &.active {
      opacity: 1;
      visibility: visible;
      clip-path: circle(99.7% at 50% 0);
      @include prefix(transition, all 0.5s ease);
    }
  }
}
// acrrodion
