.why-item {
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-column-gap: 10rem;
  align-items: center;
}
.why-heading {
  font-weight: 500;
  padding-bottom: 2rem;
}
.why-paragraph {
  font-weight: 400;
  color: $text-light;
  margin-bottom: 2rem;
}
.btn-primray {
  background: $primary;
  @include p(0.8rem 1.5rem);
  display: inline-block;
  font-weight: 500;
}
.why-image {
  width: 100%;
}
.item-1 {
  background: $bg-light;
}
.text-right {
  text-align: right;
}

// acrrodion
.accrodion-item {
  background: $white;
  border-radius: 0.3rem;
  @include shadow(0, 0, 0.4rem, $gray-400);
  margin-top: 1rem;
  &.active {
    background: $primary;
  }
  & .accrodion-heading {
    padding: 0.9rem 1rem;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
    & h4 {
      font-weight: 500;
    }
  }
  & .accrodion-content {
    padding: 0 1rem 1rem 1rem;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    clip-path: circle(2.1% at 49% 0);
    @include prefix(transition, all 0.5s ease);
    &.active {
      opacity: 1;
      visibility: visible;
      clip-path: circle(99.7% at 50% 0);
      @include prefix(transition, all 0.5s ease);
    }
  }
}
.app-place-bottom {
  transform: translateY(8rem);
  @media (max-width: 768px) {
    width: 25rem;
    transform: translateY(0);
  }
}
// acrrodion
.everything {
  padding: 4rem 0;
  background: $bg-light;
}
.everything-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}
.phone-list {
  & li {
    font-weight: 500;
    padding: 0.5rem 0;
    & i {
      margin-right: 1rem;
      @include w-h(2.3rem, 2.3rem);
      background: $primary;
      border-radius: 50%;
      text-align: center;
      line-height: 2.3rem;
      font-size: 1.4rem;
    }
  }
}

.watch {
  height: 80vh;
  background: $dark;
  color: $white;
  display: grid;
  place-items: center;
  text-align: center;
  & .watch-icon i {
    cursor: pointer;
    @include w-h(5rem, 5rem);
    border-radius: 50%;
    text-align: center;
    line-height: 5rem;
    margin: 2rem 0;
    background: $primary;
    color: $black;
  }
  & .watch-heading {
    margin: 3rem 0;
    font-weight: 500;
  }
}
.download-container {
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background: url('../../images/map.png') no-repeat center center;
}
.btn-glow {
  border-radius: 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 90%;
    bottom: -1rem;
    height: 2rem;
    background: rgba($primary, 0.3);
    filter: blur(1rem);
  }
}
.aim {
  background: $dark;
  padding: 4rem 0;
  & blockquote {
    color: $primary;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.app-download-images {
  @include w-h(30rem, 40rem);
}
.download-start {
  padding: 4rem 0;
  background: $bg-light;
}
.download-grid {
  place-items: center;
}
.grid-heading {
  margin: 2rem 0;
}
.appdownload-content {
  .grid-heading {
    color: $text-dark;
    font-weight: 500;
  }
  & .paragrahp {
    padding: 0 0 2rem 0;
    color: $text-light;
  }
  & .devices {
    width: 10rem;
    margin-right: 1rem;
  }
}
.get {
  left: 50%;
  bottom: -5rem;
  transform: translateX(-50%);
}
