.why-item {
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-column-gap: 10rem;
  align-items: center;
}
.why-heading {
  font-weight: 500;
  padding-bottom: 2rem;
}
.why-paragraph {
  font-weight: 400;
  color: $text-light;
}
.btn-primray {
  background: $primary;
  @include p(0.5rem 1.5rem);
  display: inline-block;
  font-weight: bold;
}
.why-image {
  width: 100%;
}
.item-1 {
  background: $bg-light;
}
.text-right {
  text-align: right;
}
