@use 'sass:math';
.logo img {
  width: 6rem;
}
header {
  box-shadow: 0 0 0.1rem $bg-light;
}
.navbar {
  align-items: center;
  z-index: 100;
  & ul li {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  & ul li a {
    color: $white;
  }
}
@media (max-width: 420px) {
  .navbar {
    position: relative;
    & ul {
      display: none;
      &.manue-active {
        display: block;
        position: absolute;
        top: 100%;
        background: $dark;
        width: 100%;
        height: calc(100vh - #{$nav-height});
        left: 0;
        & li {
          display: block;
          text-align: center;
        }
      }
    }
  }
}
